In [1]:
import pandas as pd

movies = pd.read_csv('./tmdb-movies.csv')

In [2]:
movies.head(1)

,id,imdb_id,popularity,budget,revenue,original_title,cast,homepage,director,tagline,...,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year,budget_adj,revenue_adj
0,135397,tt0369610,32.985763,150000000,1513528810,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,http://www.jurassicworld.com/,Colin Trevorrow,The park is open.,...,Twenty-two years after the events of Jurassic ...,124,Action|Adventure|Science Fiction|Thriller,Universal Studios|Amblin Entertainment|Legenda...,6/9/15,5562,6.5,2015,1.379999e+08,1.392446e+09

In [3]:
genre = movies.loc[:, ['id', 'genres']]
genre.head(5)

       id                                     genres
0  135397  Action|Adventure|Science Fiction|Thriller
1   76341  Action|Adventure|Science Fiction|Thriller
2  262500         Adventure|Science Fiction|Thriller
3  140607   Action|Adventure|Science Fiction|Fantasy
4  168259                      Action|Crime|Thriller

In [4]:
genre_list = genre['genres'].str.split('|').tolist()

In [ ]:
for i in range(len(genre_list)):
    if not isinstance(genre_list[i], list):
        genre_list[i] = [genre_list[i]]

In [ ]:
genre_list[:5]

In [ ]:
stacked_genre = pd.DataFrame(genre_list, index=genre['id']).stack()

In [ ]:
print(stacked_genre.head(1))

In [ ]:
stacked_genre = stacked_genre.reset_index()

In [ ]:
print(stacked_genre.head(1))

In [ ]:
stacked_genre = stacked_genre.loc[:, ['id', 0]]

In [ ]:
print(stacked_genre.head(5))

In [ ]:
stacked_genre.columns = ['id', 'genre']

In [ ]:
print(stacked_genre.head(1))

Using the stacked_genre dataframe, you will be able to find out how many movies have a certain genre.

You can join the 'stacked_genre' dataframe with the original one (inner join, match id to movie_id) if you wish to enrich the stacked_genre dataframe with other information (eg: rating). You will then be able to get the average rating aggregated by genre.

In [ ]:
merged = pd.merge(movies, stacked_genre, on='id', how='left')

In [ ]:
merged.head()

In [ ]:
merged.info()

In [ ]:
merged.sort_values(by=['id']).head()

In [ ]:
merged.groupby('genre').count().sort_values(by=['id']).columns()